fastapi
uvicorn[standard]
python-multipart
torch
torchvision
transformers==4.49.0
timm
pillow
numpy
scikit-learn
python-dotenv
pinecone
pinecone[asyncio]
modal
boto3
botocore
open-clip-torch
python-jose[cryptography]
passlib[argon2]
motor
pymongo
pydantic
pydantic-settings
email-validator
beanie
certifi
google-genai
einops